<h1 style="font-family: sans-serif; text-align: center; margin-top: 10rem;">
    Welcome to the {{ FLASK_APP_NAME }} API
    <br>
    <br>
    <a href="/api/v1/docs/">
        <button type="button" style="
            font-size: 2rem;
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
            background-color: #89bf04;
            box-shadow: 0px 1px 2px 1px #00000021;
            border: 0px;
            cursor: pointer;
        ">
            Go to Swagger API doc
        </button>
    </a>
    <br>
    <br>
    <a href="/api/v1/auth/">
        <button type="button" style="
            font-size: 2rem;
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
            background-color: gray;
            box-shadow: 0px 1px 2px 1px #00000021;
            border: 0px;
            cursor: pointer;
        ">
            Go to Login
        </button>
    </a>
</h1>